.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerAnimation {
    width: 70%;
    min-height: 18em;
    background-image: url(../../assets/gifWordWhite.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 2em 0;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
}

.msg{
    font-family: var(--font-principal);
    text-align: center;
    font-size: .8em;
    color: var(--rosa-vendemmia);
    font-weight: 500;
    margin-top: 1em;
}

@media (min-width: 49.0rem) {
    .main {
        flex-direction: row;
        justify-content: space-around;
    }

    .containerAnimation {
        width: 40%;
        height: 33rem;
        background-size: 100%;
        margin: 0;
    }
    
    .containerLogin {
        width: 16rem;
        height: 14em;
        margin-right: 3em;
    }
 
}