.btn{
    background-color: var(--roxo-escuro);
    color: var(--branco);
    border-radius: .7em ;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1em .4em;
    border: transparent;
    margin-top: .6em ;
    font-family: var(--font-principal);
    letter-spacing: 4px;
    cursor: pointer;
    width: 8em;
    margin-bottom: 1em;
}

.btn:hover{
    background-color: var(--rosa-vendemmia);
}

@media (min-width: 49.0rem){
    .btn{
        padding: .7em;
    }
}