.btn{
    background-color: var(--roxo-escuro);
    color: var(--branco);
    border-radius: .7em ;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    padding: .5em;
    border: transparent;
    margin-top: .6em ;
    font-family: var(--font-principal);
    letter-spacing: 4px
}

@media (min-width: 49.0rem){
    .btn{
        padding: .7em;
    }
}